/* Universal box-sizing  */
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Open Sans", sans-serif;

        }
body{
    background: linear-gradient(90deg, #B8E7FA, #E6E6FA);
    /* border: 10px solid; */
}

/* header section */
span{
    color: #FFA500;
}

.header-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 20px;
    padding: 10px;
    background-color: #;
    background-color: white;

}

.btn{
    background: linear-gradient(90deg, #FFA500, #FFD447);
    border: none;
    border-radius: 20px;
    padding: 15px 10px;
    font-size: 20px;
    font-weight: bold;
}

/* Banner section */
.banner-container{
    /* display: flex; */
    align-items: center;
    /* justify-content: space-between; */
    text-align: center;
    background-color: #E6EDF9;
    padding: 60px 40px;
    border-radius: 30px;
}

.head{
    padding: 60px 40px;
}

.banner-content h1, p{
    padding-bottom: 30px;
}
h1{
    font-size: 48px;
    font-weight: bolder;
}
p{
    font-size: 16px;
}

/* Blog section */
.blog-head{
    text-align: center;
}
.blog-head h2{
    font-size: 32px;
    font-weight: bolder;
    padding: 24px;
}
.blog-head p{
    font-size: 16px;

}

.blog-content{
    background-color: #E6EDF9;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 60px 40px;
    margin: 20px;
    border-radius: 30px;
}

/* inspiration section */
.inspiration{
    text-align: center;
}
.inspiration h2{
    margin: 24px;
    font-size: 32px;
    font-family: "Plus Jakarta Sans", sans-serif;
}
.video-boundary{
    padding: 32px 32px;
    /* border: #14149c; */
}
.video-set{
    text-align: center;
    /* border-radius: 30px; */
}
.video-set iframe{
    border-radius: 16px;
}

/* Target section */

.target-container{
    text-align: center;
    /* padding: 24px 24px; */
}

.target-container h2{
    margin: 24px;
    font-size: 32px;
}

.target{
    padding: 32px 32px;
    /* background-color: white; */
}
    
    



.target-card {
  background: linear-gradient(90deg, #E6EDF9, #9DE5FF);
  border-radius: 20px;
  text-align: center;
  padding: 15px;
  width: 350px;
}
.target-content{
    display: flex;
    justify-content: space-between;
    gap: ;
    background-color: white;
    padding: 32px 32px;
    border-radius: 30px;
}

/* Footer section */

.footer-container{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background-color: white;
}